@tailwind base;
@tailwind components;
@tailwind utilities;


.bgimg {
  background-image: url('/images/pokerChip.png');
  height: 100px;
  width: 100px;
}

.CFont {
  font-family: 'La Vie Boheme', sans-serif;
}